<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<targets>
		<!-- Log to File -->
		<target xsi:type="File" name="fileLogger" fileName="logs/${shortdate}.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />

		<!-- Log to Database -->
		<target xsi:type="Database" name="dbLogger"
		        connectionString="Server=.;Database=LogsDB;Trusted_Connection=True;"
		        commandText="INSERT INTO LogEntries (Date, Level, Logger, Message, Exception)
                         VALUES (@time_stamp, @level, @logger, @message, @exception)">
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="fileLogger,dbLogger" />
	</rules>
</nlog>